@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  padding: 10px 20px;
  margin: .5em;
  display: flex;
  justify-content:space-between; /* Разделение содержимого по краям */
  align-items: center;
  border-bottom: 1px solid black;
}

.logo {
  width: 10%;
  height: 10%;
}

.menu { /* Убираем маркеры списка */
  display: flex;
  gap: 1.25em; /* Расстояние между пунктами меню */
  padding: .8em;
  text-decoration: none;
  flex-direction: row;
}

.a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

header img {
  width: 20%; 
  height: 20%;
}

.menu {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  width: 25vw;
  height: 1.8vh;
  text-decoration: none;
  position: static;
}

.bck {
  width: 100%;
}

h1 {
  background: #FFF2DE;
  padding: .8em .8em;
}

p {
  padding: .8em;
}

.hform {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  background: white;
}

.line {
  border: none;
  border-bottom: 1px solid black;
}

.submit-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px #FFF2DE;
  border: 1px solid #FFF2DE;
  border-bottom: none;
}

.submit-form:hover {
  background-color: #f6f6f6;
  transition: transform .2s linear;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  justify-content: center;
  width: 30%;
  padding: 4px 10px;
  margin-top: 15px;
  border: 10px solid #FFF2DE;
  border-radius: 18px;
  outline: none;
  background: #FFF2DE;
  cursor: pointer;
}

.submit-btn:hover {
  box-shadow: 2px 2px 5px 2px #b6b6b6;
  background-color: #ffe9c8;
  border-color: #ffe9c8;
  transition: transform .1s linear;
  transform: scale(1.05);
}

.submit-btn:active {
  transition-property: box-shadow, transform;
  transition-duration: .3s;
  box-shadow: none;
  transform: none;
}

.submit-input {    
  display: block;
  margin: 0 auto;
  align-items: center;
  width: 80%;
  height: 1.5em;
  padding: 12px 20px;
  background-color: #FFF2DE;
  color: black;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-input:hover {
  box-shadow: 1px 1px 2px 1px #b6b6b6;
  background-color: #ffefd6;
  border-color: #ffefd6;
  transition: transform .3s linear;
  transform: scale(1.01);
}


footer {
  flex-direction: row;
  background-color: #f9f9f9; /* Светло-серый фон */
  padding: 1.3em;
  display: flex;
  justify-content:space-between; /* Центрируем содержимое по горизонтали */
  align-items: center;
  margin-top: 3em;
  border-top: 1px solid black
}

.error {
  color: red;
  border: 1px solid red;
}
