@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  justify-content:space-between; /* Разделение содержимого по краям */
  align-items: center;
  border-bottom: 1px solid black;
}

footer {
  background-color:#f3f3f3; 
}

.a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

header img {
  width: 10%; 
  height: 10%;
}

.menu {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.bck {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
}

h1 {
  background: #FFF2DE;
  padding: .5em .5em;
}

main p {
  padding: .8em 0em;
}

.line {
  border: none;
  border-bottom: 1px solid black;
}

.hform {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  background: white;
}

.submit-form {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px #FFF2DE;
  border: 1px solid #FFF2DE;
}

.submit-form:hover {
  background-color: #f6f6f6;
  transition: transform .2s linear;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  justify-content: center;
  width: 30%;
  padding: 4px 10px;
  margin-top: 15px;
  border: 10px solid #FFF2DE;
  border-radius: 18px;
  outline: none;
  background: #FFF2DE;
  cursor: pointer;
}

.submit-btn:hover {
  box-shadow: 2px 2px 5px 2px #b6b6b6;
  background-color: #ffe9c8;
  border-color: #ffe9c8;
  transition: transform .1s linear;
  transform: scale(1.05);
}

.submit-btn:active {
  transition-property: box-shadow, transform;
  transition-duration: .3s;
  box-shadow: none;
  transform: none;
}

.submit-input {    
  display: block;
  margin: 0 auto;
  align-items: center;
  width: 80%;
  height: 1.5em;
  background-color: #FFF2DE;
  color: black;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-input:hover {
  box-shadow: 1px 1px 2px 1px #b6b6b6;
  background-color: #ffefd6;
  border-color: #ffefd6;
  transition: transform .3s linear;
  transform: scale(1.01);
}

.menu-toggle {
  display: none; /* Скрыть кнопку по умолчанию */
  background: none;
  padding: 0px 5px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
}

.menu-toggle:hover {
  background-color: #f3f3f3;
  transition: transform .3s linear;
}

.menu-show {
  box-sizing: border-box;
  padding: 48px 40px 38px;
  position: relative;
  height: auto;
  min-height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.over-bck {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
}

@media (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 10vw;
  }
  header {
    font-size: 12px;
  }
  body {
    font-size: 12px;
  }
  header img {
    width: 30%; 
    height: 30%;
  }
} 

@media (max-width: 576px) {
  .menu {
    display: none; /* Скрыть меню на мобильных устройствах */
    flex-direction: column; /* Вертикальное расположение элементов меню */
    position: relative; /* Позиционирование для выпадающего меню */
    top: 60px; /* Позиция под заголовком */
    left: 10px;
    right: 0;
    padding: 5px;
    background-color: white; /* Фон меню */
    border: 1px solid #ccc; /* Граница меню */
    z-index: 1000; /* Поверх других элементов */
  }
  .menu-toggle {
    display: block; /* Показать кнопку на мобильных устройствах */
  }
  .menu.active {
    display: flex; /* Показать меню, когда оно активно */
  }

  .submit-btn {
    font-size: 12px;
    padding: 4px 5px;
  }
  .submit-form {
    height: 500px;
  }
  .submit-input {
    height: 1.3em;
  }
  .submit-input-label {
    padding: .6em;
    margin: 0em;
    font-size: 14px;
  }
}